# Raw data
data/raw/*
!data/raw/.gitkeep

# Python virtual environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints/

# IDE and editor files
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Logs
*.log
